*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
marquee{
    height: 100%;
    font-size: 20px;
    font-weight: 1000;
    color:#ffffff;
    font-family: sans-serif;
    background-color: #1f692b;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0.75), rgba(0,0,0,.75)), url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.box{
    position: relative;
    border: 5px solid teal;
    border-radius: 15px;
    padding: 50px;
    padding-bottom: 275px;
    margin: 40px;
    height: 450px;
    background-image: linear-gradient(rgba(0,0,0.75), rgba(0,0,0,.75)),url(images/cvsupage.jpg);
    background-size: 100%;
    background-position: center;
    transition: 0.3s;
    overflow: hidden;
}
.box:hover{
    padding: 50px;
    padding-bottom: 275px;
    margin: 40px;
    height: 450px;
    background-size: 110%;
    background-position: center;
    transition: 0.5s;
    border: 5px solid rgb(80, 255, 45);
    border-radius: 15px;
    background-image: linear-gradient(rgba(0,0,0.75), rgba(0,0,0,.75)), url(images/cvsupage.jpg);
}
.header{
    color: wheat;
}   
.box2 h2{
    padding: 30px 30px 20px;
    text-align: center;
    font-family: monospace;
    font-size: 100px;
    line-height: 44px;
    -webkit-text-stroke: 2px rgb(179, 194, 48);
    -webkit-text-fill-color: rgb(43, 170, 39);
}
.content{
    position: absolute;
    padding: 10px 35px 20px;
    margin-left: 0%;
    margin-top: 20px;
}
.description1{
    margin-top: 46px;
    margin-left: 550px;
    border: 2px solid teal;
    border-radius: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.description1 p{
    font-family: monospace;
    font-size: 30px;
    color: rgb(61, 212, 99);
    text-indent: 50px;
    padding-left: 10px
}
.description1 strong{
    color: whitesmoke;
}
button{
    font-family: monospace;
    color: rgb(219, 219, 219);
    background: transparent;
    width: 50%;
    margin-top: 20px;
    margin-left: 80px;
    border: 2px solid teal;
    padding: 5px 0px;
    border-radius: 15px;
    font-size: 45px;
    transition: .5s;
}
.home:hover{
    transition: 0.3s;
    background:teal;
    color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 0.493);
    font-weight: bolder;
}
.fittbutton:hover{
    transition: 0.3s;
    background:teal;
    color:#ffffff;
    border: 2px solid #ffffff;
    font-weight: bolder;
}
.pythonbutton:hover{
    transition: 0.3s;
    background:rgb(71, 71, 71);
    color: rgb(236, 255, 126);
    border: 2px solid rgb(236, 255, 126);
    font-weight: bolder;
}
.cvsulogo{
    margin-left: 80px;
    margin-top: -50px;
    margin-bottom: 40px;
    width: 50%;
    border: 5px solid rgb(255, 255, 113);
    border-radius: 50%;
}

@media only screen and (max-width: 1366px){
    .box{
        border: 5px solid teal;
        border-radius: 15px;
        padding: 20px;
        padding-bottom: 20;
        height: 450px;
        background-image: linear-gradient(rgba(0,0,0.75), rgba(0,0,0,.75)),url(images/cvsupage.jpg);
        background-size: 100%;
        background-position: center;
        transition: 0.3s;
        overflow: hidden;
    }
    .box:hover{
        padding: 20px;
        height: 450px;
        padding-bottom: 20;
        background-size: 110%;
        background-position: center;
        transition: 0.5s;
        border: 5px solid  rgb(35, 255, 71);
        border-radius: 15px;
        background-image: linear-gradient(rgba(0,0,0.75), rgba(0,0,0,.75)), url(images/cvsupage.jpg);
    }
    .header{
        color: wheat;
    }
    .content{
        position: absolute;
        padding: 10px 35px 0px;
        margin-left: -3%;
        margin-top: 20px;
    }
    .description1{
        margin-top: 25px;
        margin-left: 350px;
        border: 2px solid teal;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .description1 p{
        font-family: monospace;
        font-size: 23px;
        color: rgb(61, 212, 99);
        text-indent: 50px;
        padding-left: 10px
    }
    .description1 strong{
        color: whitesmoke;
    }
    button{
        font-family: monospace;
        color: rgb(219, 219, 219);
        background: transparent;
        width: 25%;
        margin-left: 100px;
        border: 2px solid teal;
        padding: 10px 0;
        border-radius: 15px;
        font-size: 20px;
        transition: .5s;
    }
    .pybutton:hover{
        transition: 0.3s;
        background:rgb(71, 71, 71);
        color: rgb(236, 255, 126);
        border: 2px solid rgb(236, 255, 126);
        font-weight: bolder;
    }
    .home:hover{
        transition: 0.3s;
        background:teal;
        color:#ffffff;
        border: 2px solid #ffffff;
        font-weight: bolder;
    }
    .fittbutton:hover{
        transition: 0.3s;
        background:teal;
        color:#ffffff;
        border: 2px solid #ffffff;
        font-weight: bolder;
    }
    .cvsulogo{
        margin-left: 100px;
        margin-top: -10px;
        margin-bottom: 20px;
        width: 25%;
        border: 5px solid rgb(255, 255, 113);
        border-radius: 50%;
    }
}