*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
marquee{
    height: 100%;
    font-size: 20px;
    font-weight: 1000;
    color:#ffffff;
    font-family: sans-serif;
    background-color: #0a1a1d;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0.75), rgba(0,0,0,.75)), url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.box{
    position: relative;
    border: 5px solid teal;
    border-radius: 15px;
    padding: 50px;
    padding-bottom: 275px;
    margin: 40px;
    height: 450px;
    background-image: linear-gradient(rgba(0,0,0.75), rgba(0,0,0,.75)),url(http://cdn.sci-news.com/images/enlarge5/image_6232e-Andromeda-Galaxy.jpg);
    background-size: 100%;
    background-position: center;
    transition: 0.3s;
    overflow: hidden;
}
.box:hover{
    padding: 50px;
    padding-bottom: 275px;
    margin: 40px;
    height: 450px;
    background-size: 110%;
    background-position: center;
    transition: 0.5s;
    border: 5px solid rgb(27, 207, 207);
    border-radius: 15px;
    background-image: linear-gradient(rgba(0,0,0.75), rgba(0,0,0,.75)), url(http://cdn.sci-news.com/images/enlarge5/image_6232e-Andromeda-Galaxy.jpg);
}
.header{
    color: wheat;
}   
.box2 h2{
    padding: 30px 30px 20px;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    color: rgb(99, 185, 181);
    line-height: 44px;
    -webkit-text-stroke: 2px rgb(66, 201, 201);
    -webkit-text-fill-color: transparent;
}
.content{
    position: absolute;
    padding: 10px 35px 0px;
    margin-left: 0%;
    margin-top: 15px;
}
.description1{
    margin-top: 73px;
    margin-left: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(76, 231, 45);
    border-radius: 10px;
}
.description1 p{
    font-family: monospace;
    font-size: 40px;
    color: bisque;
    text-indent: 50px;
    padding-left: 10px
}
.description2{
    margin-top: 93px;
    margin-left: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(182, 214, 0);
    border-radius: 10px;
}
.description2 p{
    font-family: monospace;
    font-size: 40px;
    color: bisque;
    text-indent: 50px;
    padding-left: 10px
}
.description3{
    margin-top: 100px;
    margin-left: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(0, 207, 207);
    border-radius: 10px;
}
.description3 p{
    position: center;
    font-family: monospace;
    font-size: 40px;
    color: bisque;
    text-indent: 50px;
    padding-left: 10px
}
button{
    font-family: monospace;
    color: rgb(219, 219, 219);
    background: transparent;
    width: 150%;
    margin: 20px;
    border: 2px solid teal;
    padding: 50px 0;
    border-radius: 15px;
    font-size: 60px;
    transition: .5s;
}
.pybutton:hover{
    transition: 0.3s;
    background:rgb(71, 71, 71);
    color: rgb(236, 255, 126);
    border: 2px solid rgb(236, 255, 126);
    font-weight: bolder;
}
.cvsubutton:hover{
    transition: 0.3s;
    background:rgb(24, 119, 56);
    color: #ffd900b7;
    border: 2px solid #ffd900;
    font-weight: bolder;
}
.fittbutton:hover{
    transition: 0.3s;
    background:teal;
    color:#ffffff;
    border: 2px solid #ffffff;
    font-weight: bolder;
}

@media only screen and (max-width: 1366px){
    .box{
        border: 5px solid teal;
        border-radius: 15px;
        padding: 20px;
        padding-bottom: 20;
        height: 450px;
        background-image: linear-gradient(rgba(0,0,0.75), rgba(0,0,0,.75)),url(images/galaxy.jpg);
        background-size: 100%;
        background-position: center;
        transition: 0.3s;
        overflow: hidden;
    }
    .box:hover{
        padding: 20px;
        height: 450px;
        padding-bottom: 20;
        background-size: 110%;
        background-position: center;
        transition: 0.5s;
        border: 5px solid rgb(0, 204, 204);
        border-radius: 15px;
        background-image: linear-gradient(rgba(0,0,0.75), rgba(0,0,0,.75)), url(images/galaxy.jpg);
    }
    .header{
        color: wheat;
    }   
    .box2 h2{
        padding: 30px 30px 20px;
        text-align: center;
        font-family: monospace;
        font-size: 50px;
        color: rgb(99, 185, 181);
        line-height: 10px;
        -webkit-text-stroke: 2px rgb(66, 201, 201);
        -webkit-text-fill-color: transparent;
    }
    .content{
        position: absolute;
        padding: 10px 35px 0px;
        margin-left: -3%;
        margin-top: 20px;
    }
    .description1{
        margin-top: 45px;
        margin-left: 425px;
        margin-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid  rgb(76, 231, 45);
        border-radius: 10px;
    }
    .description1 p{
        font-family: monospace;
        font-size: 25px;
        color: bisque;
        text-indent: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .description2{
        margin-top: 22px;
        margin-left: 425px;
        margin-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid rgb(182, 214, 0);
        border-radius: 10px;
    }
    .description2 p{
        font-family: monospace;
        font-size: 25px;
        color: bisque;
        text-indent: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .description3{
        margin-top: 22px;
        margin-left: 425px;
        margin-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid rgb(0, 207, 207);
        border-radius: 10px;
    }
    .description3 p{
        font-family: monospace;
        font-size: 25px;
        color: bisque;
        text-indent: 55px;
        padding-left: 10px;
        padding-right: 10px;
    }
    button{
        font-family: monospace;
        color: rgb(219, 219, 219);
        background: transparent;
        width: 150%;
        margin: 20px;
        border: 2px solid teal;
        padding: 15px 0;
        border-radius: 15px;
        font-size: 45px;
        transition: .5s;
    }
    .pybutton:hover{
        transition: 0.3s;
        background:rgb(71, 71, 71);
        color: rgb(236, 255, 126);
        border: 2px solid rgb(236, 255, 126);
        font-weight: bolder;
    }
    .cvsubutton:hover{
        transition: 0.3s;
        background:rgb(24, 119, 56);
        color: #ffd900b7;
        border: 2px solid #ffd900;
        font-weight: bolder;
    }
    .fittbutton:hover{
        transition: 0.3s;
        background:teal;
        color:#ffffff;
        border: 2px solid #ffffff;
        font-weight: bolder;
    }
}